.profile-blog-main {
  margin: 5rem;
}

.profile-blog-card {
  background-color: #fff;
  color: #000;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
}
.profile-blog-card-latest {
  background-color: black;
  color: #fff;
}

.profile-blog-card-latest::before {
  content: "Latest";
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #fff;
}

.light-theme .profile-blog-card-latest::before {
  color: #000;
}

.light-theme .profile-blog-card {
  background-color: #fff;
  color: #000;
}

.dark-theme .profile-blog-card {
  background-color: #000;
  color: #fff;
}

.profile-blog-tags {
  display: flex;
  font-size: 1.6rem;
}

.profile-blog-card-latest .profile-blog-tags {
  font-size: 2rem;
}

.profile-blog-tag {
  margin: 1rem;
}

.profile-blog-tag a,
.profile-blog-tag a:visited,
.profile-blog-tag a:link {
  text-decoration: none;
  color: blue;
}

.light-theme .profile-blog-tag a,
.light-theme .profile-blog-tag a:visited,
.light-theme .profile-blog-tag a:link {
  color: #000;
}

.dark-theme .profile-blog-tag a,
.dark-theme .profile-blog-tag a:visited,
.dark-theme .profile-blog-tag a:link {
  text-decoration: none;
  color: #fff;
}

.profile-blog-tags + a,
.profile-blog-tags + a:visited,
.profile-blog-tags + a:link {
  text-decoration: none;
}

.light-theme .profile-blog-tag a:hover,
.dark-theme .profile-blog-tag a:hover {
  text-decoration: underline;
}

.profile-blog-title {
  font-size: 2.4rem;
  padding: 1rem;
  color: #000;
}

.light-theme .profile-blog-title:hover,
.dark-theme .profile-blog-title:hover {
  text-decoration: underline;
}

.profile-blog-title.inside-blog {
  font-size: 3.8rem;
}

.profile-blog-title.inside-blog:hover {
  text-decoration: none;
}

.profile-blog-card-latest .profile-blog-title {
  font-size: 2.4rem;
  color: #fff;
}

.light-theme .profile-blog-title {
  color: #000;
}

.dark-theme .profile-blog-title {
  color: #fff;
}

.profile-blog-subtitle {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.2rem;
}

.profile-blog-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.4rem;
}

.profile-blog-card-latest .profile-blog-info {
  font-size: 1.8rem;
}

.profile-blog-search {
  display: flex;
  justify-content: space-between;
}

.profile-blog-search-input,
.profile-blog-search-submit {
  margin: 2rem;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  border: 0.1rem solid transparent;
}

.light-theme .profile-blog-search-input,
.light-theme .profile-blog-search-submit {
  border: 0.1rem solid #000;
}

.light-theme .profile-blog-search-submit {
  background-color: #fff;
  color: #000;
}

.dark-theme .profile-blog-search-submit {
  border: 0.1rem solid #fff;
}

.dark-theme .profile-blog-search-input {
  background-color: #000;
  color: #fff;
  border: 0.1rem solid #fff;
}

.dark-theme .profile-blog-search-submit {
  color: #fff;
}

.profile-blog-search-icon {
  display: none;
}

.profile-blog-search-input {
  flex: 1;
  font-size: 2rem;
  padding: 2rem;
  color: #000;
}

.profile-blog-search-submit {
  width: 20rem;
  font-size: 1.8rem;
  padding: 3rem 2rem;
  background-color: #000;
  color: yellow;
  cursor: pointer;
}

.profile-blog-message {
  height: 15rem;
  color: yellow;
  font-size: 5rem;
  display: grid;
  place-items: center;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

/** Blog Styles **/

.profile-blog-blog-main {
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fff;
}

.dark-theme .profile-blog-blog-main {
  background-color: #000;
  color: #fff;
}

.profile-blog-content-preamble,
.profile-blog-content-preamble::first-letter {
  font-size: 2.6rem;
  font-style: italic;
  line-height: 3.6rem;
  padding-bottom: 4rem;
  color: teal;
  font-weight: bold;
}

.light-theme .profile-blog-content-preamble,
.light-theme .profile-blog-content-preamble::first-letter,
.dark-theme .profile-blog-content-preamble,
.dark-theme .profile-blog-content-preamble::first-letter {
  color: inherit;
}

.profile-blog-content-preamble::first-letter {
  font-size: 6.4rem;
  line-height: 7.4rem;
}

.profile-blog-content-paragraph-main {
  font-size: 2rem;
  line-height: 3.8rem;
  padding-bottom: 4rem;
}

.profile-blog-content-paragraph {
  display: inline;
}

.profile-blog-content-code-main {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0 0 4rem 0;
  padding-bottom: 4rem;
  border-radius: 2rem;
}
.profile-blog-content-code-header {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  padding-left: 0;
  padding-bottom: 1rem;
}

.profile-blog-content-code {
  display: block;
  padding-left: 2rem;
  min-height: 2.2rem;
  word-break: break-word;
}

.profile-blog-content-postscript {
  font-size: 2.2rem;
  font-style: italic;
  line-height: 3.2rem;
  padding-bottom: 4rem;
}

.profile-blog-content-aside {
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding-bottom: 4rem;
}

.profile-blog-content-section-header {
  font-size: 3.4rem;
  line-height: 4.4rem;
  padding-bottom: 4rem;
  font-weight: bold;
}

.profile-blog-content-image {
  width: 100%;
  padding-bottom: 4rem;
}

.profile-blog-related {
  background-color: #fff;
  color: #000;
  margin: 2rem;
  border-radius: 2rem;
}

.dark-theme .profile-blog-related {
  background-color: #000;
  color: #fff;
}

.profile-blog-related > h1 {
  padding: 2rem;
  margin: 2rem;
  font-size: 3.6rem;
  color: blueviolet;
}

.light-theme .profile-blog-related > h1,
.dark-theme .profile-blog-related > h1 {
  color: inherit;
}

code {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .profile-blog-main {
    margin: 0;
  }

  .profile-blog-search {
    margin: 1.5rem 1rem;
  }

  .profile-blog-card {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-bottom: 0.1rem solid rebeccapurple;
  }

  .light-theme .profile-blog-card {
    border-color: #000;
  }

  .dark-theme .profile-blog-card {
    border-color: #fff;
  }

  .profile-blog-tags {
    flex-wrap: wrap;
  }

  .profile-blog-search-input {
    padding: 0.5rem 1rem;
  }

  .profile-blog-search-submit {
    display: none;
  }

  .profile-blog-search-input,
  .profile-blog-search-icon {
    border-radius: 0;
    margin: 0;
    font-size: 2.2rem;
    width: 100%;
  }

  .profile-blog-search-icon {
    display: block;
    font-size: 3rem;
    color: #fff;
    display: grid;
    place-items: center;
  }

  .light-theme .profile-blog-search-icon {
    color: #000;
  }

  .profile-blog-search a {
    width: 15%;
  }

  .profile-blog-blog-main {
    margin: 0;
    border-radius: 0;
    padding: 0.5rem;
  }

  .profile-blog-title.inside-blog {
    font-size: 2.8rem;
  }

  .profile-blog-content-preamble,
  .profile-blog-content-preamble::first-letter {
    font-size: 2.2rem;
    line-height: 2.8rem;
    padding-bottom: 2rem;
  }

  .profile-blog-card-latest::before {
    display: none;
  }

  .profile-blog-content-preamble::first-letter {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .profile-blog-content-paragraph-main {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 2rem;
  }

  .profile-blog-content-code-main {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 1% 2rem 1%;
    padding-bottom: 2rem;
    border-radius: 2rem;
  }
  .profile-blog-content-code-header {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .profile-blog-content-code {
    padding: 0 1rem;
    min-height: 1.2rem;
  }

  .profile-blog-content-postscript {
    font-size: 2rem;
    line-height: 2.8rem;
    padding-bottom: 2rem;
  }

  .profile-blog-content-aside {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  .profile-blog-content-section-header {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-bottom: 2rem;
  }

  .profile-blog-content-image {
    width: 100%;
    padding-bottom: 2rem;
  }

  .profile-blog-related {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .profile-blog-related > h1 {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.8rem;
    color: blueviolet;
  }
}
